@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    padding:    0;
    margin:     0;
}

html {
    font-size: 8px;
}

body {
    display:        flex;
    position:       relative;
    flex-direction: column;
    font-size:      2rem;
    width:          100%;
    min-height:     100vh;
    max-width:      1200px;
    margin:         0 auto;
    font-family:    "Open Sans", sans-serif;
    background:     #DDE2EA;
    color:          rgba(0, 0, 0, .87);
}

#libHead {
    display:         flex;
    flex-wrap:       wrap;
    align-items:     center;
    justify-content: center;
    width:           100%;
    flex-grow:       0;
    margin:          2rem 0 3rem;
    padding:         0 2rem;
}

#libHead h1 {
    display:     block;
    flex-grow:   1;
    flex-shrink: 0;
    font-size:   4rem;
    font-weight: 600;
}

#libHead a {
    display:         block;
    font-size:       6rem;
    cursor:          pointer;
    text-decoration: none;
    color:           rgba(0, 0, 0, .54);
}

#libHead a:hover {
    color: rgba(0, 0, 0, .87);
}

#disclaimer {
    padding: 0 2rem;
    margin:  0 0 1.5rem;
}

#foot {
    display:        flex;
    width:          100%;
    flex-direction: column;
    align-items:    center;
    margin:         2rem 0;
    flex-shrink:    0;
}

#foot .libLink {
    font-size:      2rem;
    font-weight:    600;
    text-transform: uppercase;
}

#foot .authorLink {
    font-size: 1.75rem;
}

#foot .libLink, #foot .authorLink {
    color:           rgba(0, 0, 0, .54);
    text-decoration: none;
}

#foot .libLink:hover, #foot .authorLink:hover {
    color:           rgba(0, 0, 0, .87);
    text-decoration: none;
}

.scrollers {
    display:   flex;
    flex-wrap: wrap;
    flex:      1 0 100%;
}

.scrollers .scroller {
    display:        flex;
    flex-direction: column;
    position:       relative;
    padding:        3rem;
    background:     #FFFFFF;
    margin:         1rem;
    max-width:      calc(50% - 2rem);
    width:          100%;
}

@media screen and (max-width: 1000px) {
    .scrollers .scroller {
        max-width: calc(100% - 2rem);
    }
}

.scrollers .scroller > .title {
    font-weight:    600;
    text-transform: uppercase;
    margin:         0 0 1rem;
}

.scrollers .scroller > .description {
    display:       block;
    position:      relative;
    width:         100%;
    margin:        0 0 1.5rem;
    padding:       0 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.scrollers .scroller > .description .button {
    display:        inline-block;
    font-size:      1.5rem;
    text-transform: uppercase;
    background:     #444444;
    color:          rgba(255, 255, 255, .87);
    padding:        .25rem 1rem;
    cursor:         pointer;
    user-select:    none;
    margin:         0 .5rem .25rem
}

.scrollers .scroller .CustomScrollbar {
    flex: 1;
}

.scrollers .scroller .CustomScrollbar-content {
    text-align: justify;
    font-size:  1.75rem;
}

.scrollers .scroller .CustomScrollbar-content p + p {
    margin-top: 1.5rem;
}

.scrollers .scroller .CustomScrollbar-content p:last-child {
    margin-bottom: 5rem;
}

#customScrollbarsRoot .CustomScrollbar {
    display:    block;
    position:   relative;
    width:      100%;
    min-height: 300px;
}

#customScrollbarsRoot p {
    display: inline-block;
    width:   150%;
}

#customScrollbarsRoot .CustomScrollbar-wrapper {
    display:  block;
    position: relative;
    width:    100%;
    height:   100%;
}

#customScrollbarsRoot .CustomScrollbar-trackVertical {
    display:       block;
    position:      absolute;
    height:        100%;
    width:         1rem;
    background:    rgba(0, 0, 0, .1);
    border-radius: 2px;
    top:           0;
    right:         -1.5rem;
}

#customScrollbarsRoot .CustomScrollbar-trackHorizontal {
    display:       block;
    position:      absolute;
    width:         100%;
    height:        1rem;
    background:    rgba(0, 0, 0, .1);
    border-radius: 2px;
    left:          0;
    bottom:        -1.5rem;
}

#autohideScrollbarsRoot .CustomScrollbar,
#sandboxScrollbarsRoot .CustomScrollbar {
    display:               grid;
    position:              relative;
    grid-template-columns: 1fr min-content;
    grid-template-rows:    1fr min-content;
    width:                 100%;
    min-height:            300px;
}

#autohideScrollbarsRoot .CustomScrollbar-trackVertical,
#sandboxScrollbarsRoot .CustomScrollbar-trackVertical {
    display:       block;
    position:      relative;
    height:        100%;
    width:         1rem;
    background:    rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin:        0 .25rem 0 .5rem;
    grid-area:     1 / 2 / auto / auto;
}

#autohideScrollbarsRoot .CustomScrollbar-trackHorizontal,
#sandboxScrollbarsRoot .CustomScrollbar-trackHorizontal {
    display:       block;
    position:      relative;
    width:         100%;
    height:        1rem;
    background:    rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin:        .5rem 0 .25rem;
    grid-area:     2 / 1 / auto / auto;
}

#autohideScrollbarsRoot .CustomScrollbar-trackVertical, #autohideScrollbarsRoot .CustomScrollbar-trackHorizontal {
    opacity:     0;
    will-change: opacity;
    transition:  opacity ease-in .2s;
}

#customScrollbarsRoot .CustomScrollbar-thumbVertical, #customScrollbarsRoot .CustomScrollbar-thumbHorizontal,
#autohideScrollbarsRoot .CustomScrollbar-thumbVertical, #autohideScrollbarsRoot .CustomScrollbar-thumbHorizontal,
#sandboxScrollbarsRoot .CustomScrollbar-thumbVertical, #sandboxScrollbarsRoot .CustomScrollbar-thumbHorizontal {
    display:       block;
    position:      relative;
    background:    #9F9F9F;
    border-radius: 2px;
    cursor:        pointer;
}

#customScrollbarsRoot .CustomScrollbar-thumbVertical,
#autohideScrollbarsRoot .CustomScrollbar-thumbVertical,
#sandboxScrollbarsRoot .CustomScrollbar-thumbVertical {
    width: 100%;
}

#customScrollbarsRoot .CustomScrollbar-thumbHorizontal,
#autohideScrollbarsRoot .CustomScrollbar-thumbHorizontal,
#sandboxScrollbarsRoot .CustomScrollbar-thumbHorizontal {
    height: 100%;
}

#customScrollbarsRoot .CustomScrollbar-thumbVertical:hover, #customScrollbarsRoot .CustomScrollbar-thumbVertical.dragging,
#autohideScrollbarsRoot .CustomScrollbar-thumbVertical:hover, #autohideScrollbarsRoot .CustomScrollbar-thumbVertical.dragging,
#sandboxScrollbarsRoot .CustomScrollbar-thumbVertical:hover, #sandboxScrollbarsRoot .CustomScrollbar-thumbVertical.dragging {
    width: calc(100% + 2px);
    left:  -1px;
}

#customScrollbarsRoot .CustomScrollbar-trackHorizontal:hover, #customScrollbarsRoot .CustomScrollbar-trackHorizontal.dragging,
#autohideScrollbarsRoot .CustomScrollbar-trackHorizontal:hover, #autohideScrollbarsRoot .CustomScrollbar-trackHorizontal.dragging,
#sandboxScrollbarsRoot .CustomScrollbar-trackHorizontal:hover, #sandboxScrollbarsRoot .CustomScrollbar-trackHorizontal.dragging {
    height: calc(100% + 2px);
    top:    -1px;
}
