@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700);
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

html {
  font-size: 8px;
  font-family: "Roboto", sans-serif; }

body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  width: 100vw;
  height: 100%;
  background: #E8EAED;
  color: #5A6068; }

#AppRoot {
  flex-grow: 1;
  width: 100%;
  height: 100%; }
  #AppRoot > .ScrollbarsCustom {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%; }
    #AppRoot > .ScrollbarsCustom > .wrapper {
      width: 100%;
      height: 100%; }
      #AppRoot > .ScrollbarsCustom > .wrapper > .AppContent {
        display: flex;
        flex-direction: column; }
    #AppRoot > .ScrollbarsCustom > .track {
      display: block;
      background: #D0D3D7;
      border-radius: 1rem;
      overflow: hidden; }
      #AppRoot > .ScrollbarsCustom > .track.trackY {
        height: calc(100% - 2rem);
        width: 1rem;
        margin: 1rem .5rem; }
      #AppRoot > .ScrollbarsCustom > .track.trackX {
        position: absolute;
        bottom: .5rem;
        left: 1.5rem;
        height: 1rem;
        width: calc(100% - 3rem); }
      #AppRoot > .ScrollbarsCustom > .track > .thumb {
        background: #B6BDC9;
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: 0 0 0 .5rem #E8EAED; }
        #AppRoot > .ScrollbarsCustom > .track > .thumb.thumbY {
          width: 100%; }
        #AppRoot > .ScrollbarsCustom > .track > .thumb.thumbX {
          height: 100%;
          box-shadow: none; }

#AppHead {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 1.5rem auto;
  padding: 0 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box; }
  #AppHead h1 {
    font-size: 3rem;
    flex-grow: 1; }
  #AppHead a {
    font-size: 4rem;
    color: #AAAAAE;
    cursor: pointer; }
    #AppHead a:hover {
      color: #555555; }
  @media (min-width: 961px) {
    #AppHead {
      margin: 1.5rem auto;
      padding: 0 3rem; }
      #AppHead h1 {
        font-size: 4rem; }
      #AppHead a {
        font-size: 6rem; } }

#AppBody {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  padding: 0 0 0 .5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: baseline;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 961px) {
    #AppBody {
      padding: 0 1rem 0 2rem; } }
  #AppBody > .packageDescription {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    flex-grow: 0; }
    @media (min-width: 961px) {
      #AppBody > .packageDescription {
        padding: 0 3rem; } }
    #AppBody > .packageDescription h2 {
      width: 100%;
      margin: 2rem 0 0;
      font-size: 2.5rem;
      font-weight: 500; }
      @media (min-width: 961px) {
        #AppBody > .packageDescription h2 {
          margin: 3rem 0 0; } }
    #AppBody > .packageDescription ul {
      box-sizing: border-box;
      padding: 1rem 0 2rem 2.5rem; }
    #AppBody > .packageDescription a {
      text-decoration: none;
      font-weight: 500;
      color: #666666; }
      #AppBody > .packageDescription a:hover {
        text-decoration: underline; }
    #AppBody > .packageDescription .button {
      display: inline-flex;
      align-items: center;
      margin: .5rem;
      cursor: pointer;
      background-color: #555555;
      color: rgba(255, 255, 255, 0.87);
      padding: .5rem 1rem;
      font-size: 1.5rem;
      line-height: 1em;
      border-radius: .25rem;
      text-transform: uppercase;
      user-select: none; }
      #AppBody > .packageDescription .button:hover {
        background: #333333;
        color: #FFFFFF; }
  #AppBody > h2 {
    display: block;
    width: 100%;
    padding: 3rem 2rem 0;
    font-size: 3rem;
    font-weight: 500; }
    @media (min-width: 961px) {
      #AppBody > h2 {
        padding: 3rem 3rem 0; } }
  #AppBody > .block {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    background: #FCFCFC;
    padding: 1.5rem 1rem 1.5rem 2rem;
    flex-grow: 0;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05); }
    @media (min-width: 961px) {
      #AppBody > .block {
        width: calc(50% - 2rem);
        min-height: 400px;
        padding: 2.5rem 3rem; } }
    #AppBody > .block > .title, #AppBody > .block > .description {
      position: relative;
      width: 100%; }
    #AppBody > .block > .title {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      color: #757575; }
    #AppBody > .block > .description {
      font-size: 1.75rem;
      margin: .5rem 0 0; }
      @media (min-width: 961px) {
        #AppBody > .block > .description {
          margin: 1rem 0 0; } }
      #AppBody > .block > .description:empty {
        display: none; }
      #AppBody > .block > .description code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px; }
    #AppBody > .block > .content {
      display: block;
      flex-grow: 1;
      flex-basis: 100%;
      margin: 2rem 0 0; }
      @media (min-width: 961px) {
        #AppBody > .block > .content {
          margin: 3rem 0 0; } }
      #AppBody > .block > .content:before {
        content: "";
        display: block;
        position: absolute;
        top: -1rem;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.05); }
      #AppBody > .block > .content > .ScrollbarsCustom {
        height: 100%;
        width: 100%; }
      #AppBody > .block > .content .content {
        font-size: 1.5rem; }
        @media (min-width: 961px) {
          #AppBody > .block > .content .content {
            font-size: 1.75rem; } }
        #AppBody > .block > .content .content p {
          padding: 1rem 1.5rem;
          box-sizing: border-box;
          width: 150%; }
          #AppBody > .block > .content .content p:first-child {
            padding-top: 0; }
          #AppBody > .block > .content .content p:last-child {
            padding-bottom: 0; }

#AppFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  box-sizing: border-box; }
  #AppFooter .projectLink, #AppFooter .authorLink {
    cursor: pointer;
    text-decoration: none; }
    #AppFooter .projectLink:hover, #AppFooter .authorLink:hover {
      color: #333333;
      text-decoration: underline; }
  #AppFooter .projectLink {
    text-transform: uppercase;
    font-weight: 500; }
  #AppFooter .projectLink, #AppFooter .projectLink:active {
    color: inherit; }
  #AppFooter .authorLink {
    margin: .5rem 0 0; }
  #AppFooter .authorLink, #AppFooter .authorLink:active {
    color: #B6B6B7; }

#CustomStyleExampleBlock > .content > .ScrollbarsCustom {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr min-content; }
  #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .wrapper {
    grid-area: 1 / 1 / auto / auto; }
    #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .wrapper > .content p {
      display: inline-block;
      position: relative;
      width: 150%; }
  #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .trackY {
    width: 8px;
    background: rgba(0, 0, 0, 0.1);
    grid-area: 1 / 2 / auto / auto;
    overflow: hidden;
    position: relative; }
    #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .trackY > .thumb {
      cursor: pointer;
      width: 100%;
      background: rgba(0, 0, 0, 0.35); }
  #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .trackX {
    height: 8px;
    background: rgba(0, 0, 0, 0.1);
    grid-area: 2 / 1 / auto / auto;
    overflow: hidden;
    position: relative; }
    #CustomStyleExampleBlock > .content > .ScrollbarsCustom > .trackX > .thumb {
      cursor: pointer;
      height: 100%;
      background: rgba(0, 0, 0, 0.35); }

#SandboxBlock > .description .button {
  display: inline-flex;
  align-items: center;
  margin: .5rem;
  cursor: pointer;
  background-color: #555555;
  color: rgba(255, 255, 255, 0.87);
  padding: .5rem 1rem;
  font-size: 1.5rem;
  line-height: 1em;
  border-radius: .25rem;
  text-transform: uppercase;
  user-select: none; }
  #SandboxBlock > .description .button:hover {
    background: #333333;
    color: #FFFFFF; }

#SandboxBlock > .content {
  margin: 2rem 0 0; }
  #SandboxBlock > .content > .ScrollbarsCustom.native p {
    display: inline-block;
    position: relative;
    width: 150%;
    font-size: 1.75rem; }
  #SandboxBlock > .content > .ScrollbarsCustom:not(.native) {
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content; }
    #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .wrapper {
      grid-area: 1 / 1 / auto / auto; }
      #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .wrapper > .content p {
        display: inline-block;
        position: relative;
        width: 150%; }
    #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .trackY {
      position: relative;
      width: 8px;
      background: rgba(0, 0, 0, 0.1);
      grid-area: 1 / 2 / auto / auto;
      overflow: hidden; }
      #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .trackY > .thumb {
        cursor: pointer;
        width: 100%;
        background: rgba(0, 0, 0, 0.35); }
    #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .trackX {
      position: relative;
      height: 8px;
      background: rgba(0, 0, 0, 0.1);
      grid-area: 2 / 1 / auto / auto; }
      #SandboxBlock > .content > .ScrollbarsCustom:not(.native) > .trackX > .thumb {
        cursor: pointer;
        height: 100%;
        background: rgba(0, 0, 0, 0.35); }

.mayhemScrollbarsHolder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1; }
  .mayhemScrollbarsHolder > .ScrollbarsCustom {
    flex-grow: 0;
    flex-shrink: 0; }
    .mayhemScrollbarsHolder > .ScrollbarsCustom p {
      box-shadow: inset 25px 0 0 blue, inset -25px 0 0 red, inset 0 25px 0 #34FF6F, inset 0 -25px 0 #F600FF; }

