#AppRoot {
  & > .ScrollbarsCustom {
    position: relative;
    width: 100%;
  }
}

#App {
  width: 100%;

  a.link {
    color: #3996da;
    text-shadow: none;

    &:hover {
      color: #9ed6ff;
    }
  }

  @media (min-width: 620px) {
    max-width: 1280px;
    margin: auto;
  }
}

@import "AppHeader";
@import "AppPromo";
@import "AppFooter";
@import "ExamplesGrid";
