#App-Footer {
  display: flex;
  padding: 3rem 4rem;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.08);
  justify-content: center;
  align-items: center;

  .links {
    display: flex;
    justify-items: center;
    align-items: center;
    font-family: "Fira Mono", sans-serif;
    color: rgba(255, 255, 255, 0.45);

    a {
      text-decoration: none;
      cursor: pointer;
      color: currentColor;
      margin: 0 2rem;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}
