#App-Header {
  padding: 3rem 4rem;
  position: relative;

  & > .left,
  & > .right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }

  & > .right {
    text-align: right;
  }

  .App-PackageName {
    display: inline-block;
    font-family: "Fira Mono", sans-serif;
    font-size: 4.125rem;
    line-height: 5rem;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    float: left;
  }

  .App-PackageVersion {
    display: inline-block;
    font-family: "Fira Mono", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2.125rem;
    padding: 0.125rem 0.5rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0.25rem;
    margin: 1.625rem 0 0 1.25rem;
  }

  .App-PackageRepoLink {
    color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
    display: inline-block;
    line-height: 5rem;
    vertical-align: middle;

    svg {
      display: block;
      width: 5rem;
      height: 5rem;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}
