#App-Header {
  padding: 2rem 1rem 2rem 2rem;

  @media (min-width: 620px) {
    padding: 3rem 4rem 2rem;
  }

  & > .left,
  & > .right {
    display: block;
    height: 5.875rem;
  }

  & > .right {
    float: right;
    text-align: right;
  }

  @media (min-width: 620px) {
    & > .left,
    & > .right {
      height: 5rem;
    }
  }

  .App-PackageName {
    font-family: "Fira Code", sans-serif;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;

    @media (min-width: 620px) {
      display: inline-block;
      font-size: 4.125rem;
      line-height: 5rem;
      float: left;
    }
  }

  .App-PackageVersion {
    display: inline-block;
    font-family: "Fira Code", sans-serif;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2.125rem;
    padding: 0.125rem 0.5rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 0.25rem;

    @media (min-width: 620px) {
      margin: 1.625rem 0 0 1.25rem;
    }
  }

  .App-PackageRepoLink {
    color: rgba(255, 255, 255, 0.45);
    text-decoration: none;
    display: block;
    width: 5rem;
    height: 5rem;

    svg {
      display: block;
      width: 5rem;
      height: 5rem;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.87);
    }

    @media (max-width: 620px) {
      position: relative;
      top: 0.75rem;
    }
  }
}
