#App-Promo {
  padding: 1rem 1rem 2rem 2rem;
  position: relative;

  @media (min-width: 620px) {
    padding: 2rem 4rem;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    right: 5rem;
    height: 1px;
    width: calc(100% - 10rem);
    background: rgba(255, 255, 255, 0.12);
  }

  .App-About {
    font-size: 1.75rem;
    line-height: 2.125rem;

    p {
      margin: 0 0 1.375rem;
    }

    .links {
      margin: 3rem 2rem;

      .link {
        margin: 0 1.5rem;
      }
    }

    @media (min-width: 620px) {
      display: inline-block;
      vertical-align: top;
      width: 47%;
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
  }

  .About-Title {
    margin: 0 0 1.5rem;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 500;
    font-size: 1.875rem;
  }

  .App-FeatureList {
    margin: 5rem 0 0;

    @media (min-width: 620px) {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      margin: 0 0 0 4%;
    }
  }

  .FeatureList-Title {
    margin: 0 0 1.5rem;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 500;
    font-size: 1.875rem;
  }

  .FeatureList-Item {
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;
    margin: 0 0 1rem 1.5rem;

    @media (min-width: 620px) {
      margin: 0 0 1rem;
    }

    &:before {
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: -1.5rem;
      top: calc(50% - 0.5rem);
      border-radius: 0.125rem;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}
