#App-Promo {
  display: flex;
  align-items: flex-start;
  padding: 2rem 4rem;

  .App-Description {
    flex-grow: 0;
    width: 46%;

    font-size: 1.875rem;
    line-height: 2.25rem;

    p {
      margin: 0 0 1.25rem;
      text-indent: 1rem;
    }

    .links {
      margin-top: 3rem;
    }
  }

  .App-FeatureList {
    flex-grow: 0;
    width: 50%;
    margin-left: 4%;
  }

  .FeatureList-Title {
    margin: 0 0 1.5rem;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 500;
    font-size: 1.75rem;
  }

  .FeatureList-Item {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    position: relative;

    &:before {
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: -1.5rem;
      top: calc(50% - 0.5rem);
      border-radius: 0.125rem;
      background: rgba(255, 255, 255, 0.25);
    }
  }
}
