#App-Promo {
  display:     flex;
  align-items: flex-start;
  padding:     0 4rem;

  .App-Description {
    flex-grow:   0;
    width:       50%;

    font-family: "Fira Mono", sans-serif;
    font-size:   1.875rem;
    line-height: 2.25rem;

    p {
      margin:      0 0 1.25rem;
      text-indent: 1rem;
    }

    .links {
      margin-top: 3rem;
    }
  }

  .App-FeatureList {
    flex-grow:   0;
    width:       45%;
    margin-left: 5%;
  }

  .FeatureList-Title {
    margin:      0 0 1.5rem;
    color:       rgba(255, 255, 255, .87);
    font-weight: 500;
    font-family: "Fira Mono", sans-serif;
    font-size:   1.75rem;
  }

  .FeatureList-Item {
    margin-bottom: 1rem;
    font-family:   "Fira Mono", sans-serif;
    font-size:     1.625rem;
    line-height:   2rem;
    position:      relative;

    &:before {
      content:       "";
      width:         .75rem;
      height:        .75rem;
      position:      absolute;
      left:          -1.5rem;
      top:           calc(50% - .5rem);
      border-radius: .125rem;
      background:    rgba(255, 255, 255, .25);
    }
  }
}