#ExamplesGrid {
  flex-grow: 1;
  display: flex;
  position: relative;
  padding: 1rem 2rem 3rem;
  flex-wrap: wrap;

  & > .ExampleCard {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 3rem;
    width: calc(50% - 4rem);
    margin: 1rem 2rem;

    &:nth-child(2n + 1) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 5rem;
        right: -2rem;
        width: 1px;
        height: calc(100% - 10rem);
        background: rgba(255, 255, 255, 0.08);
      }
    }

    & > .ExampleCard-Head {
      display: flex;
      align-items: center;

      & > .ExampleCard-Title {
        font-size: 1.875rem;
        margin: 0 0 1rem;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.87);
        flex-grow: 1;
      }
    }

    & > .ExampleCard-Description {
      font-size: 1.625rem;
      margin: 0 0 0.75rem;

      p {
        margin-top: 0.5rem;
      }
    }

    .ExampleCard-Paragraph {
      font-size: 1.5rem;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      min-width: 178%;
    }

    & > .ExampleCard-Separator {
      display: flex;
      align-items: center;
      margin: 0 3rem;
      color: rgba(255, 255, 255, 0.08);

      &:before,
      &:after {
        content: "";
        display: inline-block;
        width: 40%;
        height: 1px;
        background: currentColor;
        margin: 0 5%;
      }
    }

    & > .ExampleCard-Holder {
      display: block;
      position: relative;
      flex-grow: 1;
      min-height: 30rem;
      margin: 0.75rem 0 0;
    }
  }

  & > .ExampleCard.CustomStyled {
    .ExampleCard-Holder {
      & > .ScrollbarsCustom {
        width: 100%;
        height: 100%;

        & > .ScrollbarsCustom-Wrapper {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          & > .ScrollbarsCustom-Scroller {
            & > .ScrollbarsCustom-Content {
            }
          }
        }

        .ScrollbarsCustom-Track {
          position: absolute;
          border-radius: 0.25rem;
        }

        .ScrollbarsCustom-Thumb {
          background: rgba(255, 255, 255, 0.12);
          cursor: pointer;
          border-radius: 0.25rem;

          &:hover,
          &.dragging {
            background: #9ed6ff;
          }
        }

        .ScrollbarsCustom-ThumbY {
          width: 100%;
        }

        .ScrollbarsCustom-ThumbX {
          height: 100%;
        }

        .ScrollbarsCustom-TrackY {
          width: 1rem;
          height: calc(100% - 2rem);
          top: 1rem;
          right: 0;
          background: rgba(255, 255, 255, 0.04);
        }

        .ScrollbarsCustom-TrackX {
          height: 1rem;
          width: calc(100% - 3rem);
          bottom: 0.5rem;
          left: 1.5rem;
          background: rgba(0, 0, 0, 0.2);
        }

        &.trackYVisible {
          & > .ScrollbarsCustom-Wrapper {
            right: 1.5rem;
          }

          & > .ScrollbarsCustom-TrackX {
            width: calc(100% - 4rem);
            left: 2rem;
          }
        }

        &.trackXVisible {
          &:hover {
            .ScrollbarsCustom-TrackX {
              background: #373737;
            }

            .ScrollbarsCustom-ThumbX {
              background: #4f4f4f;

              &:hover,
              &.dragging {
                background: #9ed6ff;
              }
            }
          }
        }
      }
    }
  }
}
