@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");

// reset default styles;
* {
  border: 0 none;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

div {
  box-sizing: border-box;
}

html {
  background: #2f2f2f;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Fira Code", sans-serif;
  font-size: 8px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: 100%;
  user-select: none;
}

body {
  display: block;
  font-size: 1.75rem;
  line-height: 1.125;
  position: relative;
  width: 100vw;
}

#AppRoot {
}

@import "App";
