// reset default styles;
* {
    vertical-align: baseline;
    font-weight:    inherit;
    font-family:    inherit;
    font-style:     inherit;
    font-size:      100%;
    border:         0 none;
    outline:        0;
    padding:        0;
    margin:         0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

html, body {
    height: 100%;
}

html {
    font-size:   8px;
    font-family: "Roboto", sans-serif;
}

body {
    display:        flex;
    flex-direction: column;
    font-size:      2rem;
    position:       relative;
    width:          100vw;
    height:         100%;
    background:     #E8EAED;
    color:          #5A6068;
}

#AppRoot {
    flex-grow: 1;
    width:     100%;
    height:    100%;

    & > .ScrollbarsCustom {
        position: relative;
        display:  flex;
        width:    100%;
        height:   100%;

        & > .wrapper {
            width:  100%;
            height: 100%;

            & > .AppContent {
                display:        flex;
                flex-direction: column;
            }
        }

        & > .track {
            display:       block;
            background:    #D0D3D7;
            border-radius: 1rem;
            overflow:      hidden;

            &.trackY {
                height: calc(100% - 2rem);
                width:  1rem;
                margin: 1rem .5rem;
            }
            &.trackX {
                position: absolute;
                bottom:   .5rem;
                left:     1.5rem;
                height:   1rem;
                width:    calc(100% - 3rem);
            }

            & > .thumb {
                background:    #B6BDC9;
                cursor:        pointer;
                border-radius: 1rem;
                box-shadow:    0 0 0 .5rem #E8EAED;

                &.thumbY {
                    width: 100%;
                }
                &.thumbX {
                    height:     100%;
                    box-shadow: none;
                }
            }
        }
    }
}

#AppHead {
    display:       flex;
    align-content: center;
    align-items:   center;
    width:         100%;
    max-width:     1200px;
    margin:        1.5rem auto;
    padding:       0 2rem;
    flex-grow:     0;
    flex-shrink:   0;
    box-sizing:    border-box;

    h1 {
        font-size: 3rem;
        flex-grow: 1;
    }

    a {
        font-size: 4rem;
        color:     #AAAAAE;
        cursor:    pointer;

        &:hover {
            color: #555555;
        }
    }

    @media (min-width: 961px) {
        margin:  1.5rem auto;
        padding: 0 3rem;

        h1 {
            font-size: 4rem;
        }

        a {
            font-size: 6rem;
        }
    }
}

#AppBody {
    flex-grow:     1;
    flex-shrink:   0;
    display:       flex;
    padding:       0 0 0 .5rem;
    flex-wrap:     wrap;
    box-sizing:    border-box;
    align-content: baseline;
    width:         100%;
    max-width:     1200px;
    margin:        0 auto;

    @media (min-width: 961px) {
        padding: 0 1rem 0 2rem;
    }

    & > .packageDescription {
        display:    block;
        width:      100%;
        box-sizing: border-box;
        padding:    0 2rem;
        flex-grow:  0;

        @media (min-width: 961px) {
            padding: 0 3rem;
        }

        h2 {
            width:       100%;
            margin:      2rem 0 0;
            font-size:   2.5rem;
            font-weight: 500;

            @media (min-width: 961px) {
                margin: 3rem 0 0;
            }
        }

        ul {
            box-sizing: border-box;
            padding:    1rem 0 2rem 2.5rem;
        }

        a {
            text-decoration: none;
            font-weight:     500;
            color:           #666666;

            &:hover {
                text-decoration: underline;
            }
        }

        .button {
            display:          inline-flex;
            align-items:      center;
            margin:           .5rem;
            cursor:           pointer;
            background-color: #555555;
            color:            rgba(255, 255, 255, .87);
            padding:          .5rem 1rem;
            font-size:        1.5rem;
            line-height:      1em;
            border-radius:    .25rem;
            text-transform:   uppercase;
            user-select:      none;

            &:hover {
                background: #333333;
                color:      #FFFFFF;
            }
        }
    }

    & > h2 {
        display:     block;
        width:       100%;
        padding:     3rem 2rem 0;
        font-size:   3rem;
        font-weight: 500;

        @media (min-width: 961px) {
            padding: 3rem 3rem 0;
        }
    }

    & > .block {
        display:        flex;
        flex-direction: column;
        width:          100%;
        min-height:     300px;
        background:     #FCFCFC;
        padding:        1.5rem 1rem 1.5rem 2rem;
        flex-grow:      0;
        margin:         1rem;
        box-sizing:     border-box;
        border-radius:  .25rem;
        box-shadow:     0 0 0 1px rgba(0, 0, 0, .05);

        @media (min-width: 961px) {
            width:      calc(50% - 2rem);
            min-height: 400px;
            padding:    2.5rem 3rem;
        }

        & > .title, & > .description {
            position: relative;
            width:    100%;
        }

        & > .title {
            text-transform: uppercase;
            font-size:      2rem;
            font-weight:    700;
            color:          #757575;
        }

        & > .description {
            font-size: 1.75rem;
            margin:    .5rem 0 0;

            @media (min-width: 961px) {
                margin: 1rem 0 0;
            }

            &:empty {
                display: none;
            }

            code {
                padding:          0.2em 0.4em;
                margin:           0;
                font-size:        85%;
                background-color: rgba(27, 31, 35, 0.05);
                border-radius:    3px;
            }
        }

        & > .content {
            display:    block;
            flex-grow:  1;
            flex-basis: 100%;
            margin:     2rem 0 0;

            @media (min-width: 961px) {
                margin: 3rem 0 0;
            }

            &:before {
                content:    "";
                display:    block;
                position:   absolute;
                top:        -1rem;
                left:       0;
                width:      100%;
                height:     1px;
                background: rgba(0, 0, 0, .05);
            }

            & > .ScrollbarsCustom {
                height: 100%;
                width:  100%;
            }

            .content {
                font-size: 1.5rem;

                @media (min-width: 961px) {
                    font-size: 1.75rem;
                }

                p {
                    padding:    1rem 1.5rem;
                    box-sizing: border-box;
                    width:      150%;

                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

#AppFooter {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    flex-grow:      0;
    flex-shrink:    0;
    width:          100%;
    max-width:      1200px;
    margin:         2rem auto;
    box-sizing:     border-box;

    .projectLink, .authorLink {
        cursor:          pointer;
        text-decoration: none;

        &:hover {
            color:           #333333;
            text-decoration: underline;
        }
    }

    .projectLink {
        text-transform: uppercase;
        font-weight:    500;
    }
    .projectLink, .projectLink:active {
        color: inherit;
    }

    .authorLink {
        margin: .5rem 0 0;
    }
    .authorLink, .authorLink:active {
        color: #B6B6B7;
    }
}

#CustomStyleExampleBlock {
    & > .content {
        & > .ScrollbarsCustom {
            display:               grid;
            width:                 100%;
            height:                100%;
            grid-template-columns: 1fr min-content;
            grid-template-rows:    1fr min-content;

            & > .wrapper {
                grid-area: 1 / 1 / auto / auto;

                & > .content {
                    p {
                        display:  inline-block;
                        position: relative;
                        width:    150%;
                    }
                }
            }

            & > .trackY {
                width:      8px;
                background: rgba(0, 0, 0, 0.1);
                grid-area:  1 / 2 / auto / auto;
                overflow:   hidden;

                & > .thumb {
                    cursor:     pointer;
                    width:      100%;
                    background: rgba(0, 0, 0, 0.35);
                }
            }

            & > .trackX {
                height:     8px;
                background: rgba(0, 0, 0, 0.1);
                grid-area:  2 / 1 / auto / auto;

                & > .thumb {
                    cursor:     pointer;
                    height:     100%;
                    background: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}

#SandboxBlock {
    & > .description {
        .button {
            display:          inline-flex;
            align-items:      center;
            margin:           .5rem;
            cursor:           pointer;
            background-color: #555555;
            color:            rgba(255, 255, 255, .87);
            padding:          .5rem 1rem;
            font-size:        1.5rem;
            line-height:      1em;
            border-radius:    .25rem;
            text-transform:   uppercase;
            user-select:      none;

            &:hover {
                background: #333333;
                color:      #FFFFFF;
            }
        }
    }

    & > .content {
        margin: 2rem 0 0;
        & > .ScrollbarsCustom.ScrollbarsCustom-native {
            p {
                display:  inline-block;
                position: relative;
                width:    150%;
            }
        }
        & > .ScrollbarsCustom:not(.ScrollbarsCustom-native) {
            display:               grid;
            width:                 100%;
            height:                100%;
            position:              relative;
            grid-template-columns: 1fr min-content;
            grid-template-rows:    1fr min-content;

            & > .wrapper {
                grid-area: 1 / 1 / auto / auto;

                & > .content {
                    p {
                        display:  inline-block;
                        position: relative;
                        width:    150%;
                    }
                }
            }

            & > .trackY {
                position:   relative;
                width:      8px;
                background: rgba(0, 0, 0, 0.1);
                grid-area:  1 / 2 / auto / auto;
                overflow:   hidden;

                & > .thumb {
                    cursor:     pointer;
                    width:      100%;
                    background: rgba(0, 0, 0, 0.35);
                }
            }

            & > .trackX {
                position:   relative;
                height:     8px;
                background: rgba(0, 0, 0, 0.1);
                grid-area:  2 / 1 / auto / auto;

                & > .thumb {
                    cursor:     pointer;
                    height:     100%;
                    background: rgba(0, 0, 0, 0.35);
                }
            }
        }
    }
}

.mayhemScrollbarsHolder {
    display:   flex;
    flex-wrap: wrap;
    width:     100%;
    flex-grow: 1;

    & > .ScrollbarsCustom {
        flex-grow:   0;
        flex-shrink: 0;

        p {
            box-shadow: inset 25px 0 0 blue,
                        inset -25px 0 0 red,
                        inset 0 25px 0 #34FF6F,
                        inset 0 -25px 0 #F600FF;
        }
    }
}
